body {
    background-color: #eee;
}

.container {
    background-color: white;
    padding: 10px;
    width: 800px;
    margin: auto;
}

hr {
    color: #eee;
}

fieldset {
    border-style: none;
}

legend {
    text-align: center;
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(8, 5, 51);
    margin-bottom: 20px;
}

fieldset div {
    float: left;
    margin: 1%;
    width: 48%;
}

fieldset div:nth-child(even) {
    clear: left;
}

fieldset div input[type="text"],
fieldset div input[type="number"],
fieldset div input[type="date"],
fieldset div select {
    display: block;
    border-radius: 5px;
    border-width: 1px;
    padding: 8px;
    margin: 5px;
    width: 80%;
}