.container {
    padding: 10px;
}

fieldset {
    border-style: none;
}

legend {
    text-align: center;
}

fieldset div {
    float: left;
    margin: 1%;
    width: 48%;
}

fieldset div input[type="text"],
fieldset div input[type="tel"],
fieldset div select {
    display: block;
}