body{
    background-image: url('../images/background.png');
    font-size:8pt;
    font-family:Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.topHeader{
    background-image:url('../images/bannerbg.png');
    background-repeat: repeat-x;
    height: 50px;
}
.topHeader img{
    display: block;
    margin-left: auto;
    margin-right:auto;
}

h1{
    text-align: center;
    font-size: 24pt;
    font-family: Tahoma, Verdana, or any sans-serif;
    text-shadow: 3px  3px  #999999;
}

.container{
    width: 800px;
    margin: 10px auto;
    border: 4px solid gray;
    border-radius:20px;
    overflow: hidden;
    background-color:#A2B964;

}

.insideHeader{
    float: left;
    background-image:url('../images/rbg.png');
    height: 83px;
    width:550px;
    font-size: 48pt;
    color:red;
    font-weight: bold;
}

.insideHeader img, .insideHeader p{
    float: left;
    margin: 0;
}


.comment-container{
    width: 550px;
    float: left;
    background-image: url('../images/background.png');
}

.comment-container > div{
    margin: 1%;
    width: 47%;
    float: left;
}

.comment{
    background-color:#E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    text-overflow: ellipsis;
    font-weight:bold;
    font-size:8pt;
    box-sizing: border-box;
}

.general-overview{
    float: left;
    position: relative;
    bottom: 90px;
}

dl{
    float: left;
    width: 250px;
    position: relative;
    bottom: 110px;
    padding-left: 20px;
    box-sizing: border-box;
}
dt{
    margin-top: 10pt;
    font-weight: bold;
}
.end-text{
    text-align: center;
    clear: both;
}
.person{
    padding: 5px;
}
.person img, .person p{
    display: inline-block;
    vertical-align: middle;
}
em{
    display: block;
}
h4{
    background-color:#A2B964;
    padding: 8px;
}

.validation{
    float: right;
    margin: 10px;
    opacity: 0.5;
}