body{
    background-image: url('../images/background.png');
    font-size:8pt;
    font-family:Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.topHeader{
    background-image:url('../images/bannerbg.png');
    background-repeat: repeat-x;
    height: 50px;
}
.topHeader img{
    display: block;
    margin-left: auto;
    margin-right:auto;
}
h1{
    text-align: center;
    font-size: 24pt;
    font-family: Tahoma, Verdana, or any sans-serif;
    text-shadow: 3px  3px  #999999;
}
.container{
    width: 800px;
    margin: 10px auto;
    border: 4px solid gray;
    border-radius:20px;
    overflow: hidden;
}
.insideHeader{
    background-image:url('../images/rbg.png');
    height: 83px;
    font-size: 48pt;
    color:red;
    font-weight: bold;
}
.comment-container{
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 2%;
}
.comment-container > div{
    margin: 10px;
}
.comment{
    background-color:#E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
}