body{
    color:#404040;
    font-size:11pt;
    font-family:Georgia, Garamond, serif;
    background-image:url('../images/silverware.jpg');
}
body :link{
    color:#A4A400;
}
h1,h2,h3,h4,h5,h6{
    color:#A4A400;
    background-color:#F0F0F0;
    font-family:'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
}
h1{
    font-size:22pt;
    text-align:center;
}
h2{
    font-size:18pt;
    text-decoration-line: underline;
}

.non-decorated-list{
    list-style-type: none;
}
.pie-bullet{
    list-style-image: url('../images/pie_icon.gif');
}
blockquote{
    background-color:#ffffb3;
}
pre{
    float: right;
    clear: both;
}
.validator{
    float: right;
}